body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    
    background-color: #090228;
    color: #ede7e7;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

main {
    padding: 2em;
}

ul#bucket-list  {
    list-style: none;
    padding: 0;
}

ul#bucket-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#bucket-list li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.icon {
    font-size: 1.2em;
    color: #4caf50;
}

@media (max-width: 768px) {
    body {
        padding: 1em;
    }

    ul#bucket-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    ul#bucket-list li .icon {
        margin-top: 0.5em;
    }
}

ul#bucket-list li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

#add-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

#new-item {
    flex: 1;
    padding: 0.5em;
    font-size: 1em;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
